{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="text-center mt-5">
        <h1>Quote</h1>
    </div>
    <div class="mx-auto w-50 mt-5">
        <form action="/quote" method="post">
            <div class="form-group mb-3">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text">
            </div>
            <button class="btn btn-primary btn-block" type="submit">Look Up</button>
        </form>
    </div>
{% endblock %}
